body {
    font-family: "Tilt Warp", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #51353a;
    color: #F6C3C1;
    line-height: 1.6;
    margin: 20px;
}
h1,p {
    text-align: center;
    font-family: 'Lexend', sans-serif;
    color: #33050e;
}