body {
    font-family: "Tilt Warp", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: rgb(82, 44, 51);
    line-height: 1.6;
    margin: 20px;
}
h1,p {
    text-align: left;
    font-family: 'Lexend', sans-serif;
    color: #F6C3C1;
}

footer a,{
    color: rgb(150, 34, 78);
}
