body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #5a3c41; 
    color: #ffffff;
}

header h1 {
    font-family: 'Tilt Warp', cursive;
    font-size: 2.5em;
}

header {
    background-color: #472d32; 
    color: #ffffff;
    padding: 17px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 8px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
}

aside {
    width: 15%;
    background-color: #51353a;
    padding: 15px;
}

select {
    font-family: 'Lexend', sans-serif;
    color: #ffffff;
    background-color: #6d5055; 
    border: 1px solid #5a3c41;
    padding: 5px;
    border-radius: 5px;
}

option {
    font-family: 'Lexend', sans-serif;
    color: #ffffff;
}

section {
    width: 75%;
    padding: 15px;
}

article {
    background-color: #6d5055;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #6d5055;
}

article img {
    display: block;
    margin: 10px 0;
}

article a {
    color: #472d32;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    text-decoration: underline;
}

footer {
    background-color: #472d32;
    color: white;
    text-align: center;
    padding: 10px;
}